* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 100vh;
  background: rgb(84, 87, 78);
}
.side-nav {
  width: 250px;
  height: 100%;
  background: rgb(64, 66, 59);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 30px;
}
.logo {
  display: block;
  margin-bottom: 130px;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
}
.logo p {
  padding-left: 10px;
}
.nav-links {
  list-style: none;
}
.nav-links li {
  padding: 10px 0;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}
.nav-links li a i {
  font-size: 22px;
  margin-right: 20px;
}
.active {
  background: rgb(162, 241, 4);
  width: 100%;
  height: 47px;
  position: absolute;
  left: 0;
  top: 2.6%;
  z-index: -1;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(37, 41, 31, 0.4);
  display: none;
  transition: top 0.5s;
}
.nav-links li:hover a {
  color: rgb(64, 66, 59);
  transition: 0.3s;
}
.nav-links li:hover ~ .active {
  display: block;
}
.nav-links li:nth-child(1):hover ~ .active {
  top: 29.6%;
}
.nav-links li:nth-child(2):hover ~ .active {
  top: 38.6%;
}
.nav-links li:nth-child(3):hover ~ .active {
  top: 47.6%;
}
.nav-links li:nth-child(4):hover ~ .active {
  top: 56.6%;
}
.nav-links li:nth-child(5):hover ~ .active {
  top: 65.6%;
}
.nav-links li:nth-child(6):hover ~ .active {
  top: 74.6%;
}
@media only screen and (max-width: 600px) {
  .side-nav {
    width: 110px;
  }
  .logo p {
    display: none;
  }
  .nav-links li a p {
    display: none;
  }
  .nav-links li a i {
    margin-right: 0;
  }
  .nav-links li a {
    justify-content: center;
  }
}
